<div class="container">
  <h2><%= @article.title %></h2>
  <%if @article.categories.any? %>
    <p>Categories: <% @article.categories.each do |category| %>
      <%= link_to category.name, category_path(category)%>
      <% end %>
    </p>
  <% end %>
  <p><%= @article.content %></p>
</div>
